body {
    background-color:#fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-content: center;
    background-color: rgb(250, 242, 242);
    margin-bottom:3px;
    align-items: center;
    padding: 10px;   

}


a{
    padding: 5px;
    text-decoration: none;
    color: black; 
}

figure{
    margin-left: -2em;
    columns: 500px;
}

img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    margin-bottom: .5em;
    display: block;
    outline: 2px solid #fff;
    outline-offset: -1px;
    object-fit: cover;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.2);
}


.gallery {
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;*/
    columns: 5 300px;
    column-gap: 0em;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

nav a{
    display: flex-start;
    font-weight: 700;
    padding-right: 10px;
    align-items: center;
}

nav a:hover{
    color: #fff;
}

input{
    display: flex-start;
    border-radius: 35px;
    border-bottom: .5em;
    border-color: rgb(173, 165, 165);
    align-items: center;
    width: 1300px;
    height: 35px;
    background-color: rgb(172, 167, 167);
}
